    body {
      background-color: black;
      color: white;
      font-family: monospace;
      font-size: 25px;
    }

    td {
      font-size: 45px;
      text-align: center;
      padding: 0px 3px 0px 3px;
    }

    button {
      font-family: monospace;
      font-weight: bolder;
      font-size: 70px;
      padding: 0px 10px 0px 10px;
    }

    .launch-button {
      font-size: 40px;
      padding: 0px 40px 0px 40px;
    }

    .output {
      font-size: 32px;
    }

    .truecount {
      color: rgb(145, 145, 0);
      width: 330px;
    }

    .middlecolumn {
      width:100px;
    }